body{
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    background-color: turquoise;
}

nav a{
    text-decoration: none;
    color: white;

}

nav a:first-child:before{
    content:"🦸"

}

nav a:last-child:before{
    content:"🦸‍♂️"
}
nav a:nth-child(2):before{
    content:"🦸🏽"
}

.hero {
    display:flex;
    flex-direction: column;
    

}
.links{
    display:flex
}
.wrap{
    display:flex;
    list-style: none;
}

    .links li{
    flex-wrap: wrap;
    justify-content: space-around;

}
